:root {
  --dark-gray: #181818;
  --color-primary: #2d5c2d;
  --color-secondary: #7c5cbf;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-secondary);
}

button {
  border: none;
  background-color: transparent;
}

strong {
  font-weight: bold;
}

@font-face {
  font-family: 'Cinzel';
  src: url('/fonts/Cinzel-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel';
  src: url('/fonts/Cinzel-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
