:root {
  --gold-bg-color: rgba(218, 165, 32, 0.8);
  --gold-border-color: rgb(160, 82, 45);
  --faded-blue-bg-color: #2055da;
  --faded-green-bg-color: rgba(0, 128, 0, 0.25);
  --dark-gray: #181818;
}

body {
  margin: 0;
}

a {
  color: green;
}

button {
  border: none;
  background-color: transparent;
}

strong {
  font-weight: bold;
}

@font-face {
  font-family: 'Vecna';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Vecna-oppx.ttf');
}

@font-face {
  font-family: 'Saros';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Saros-Regular.otf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SourceSansPro-Regular.ttf');
}
